*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html,body{
    height: 100%;
}
div.clear{
    clear: both;
}
div.container{
    padding: 0 2%;
    max-width: 1280px;
    margin: 0 auto;
}
header{
    padding: 30px 0;
    background-image: url('../imagem/bg.jpg');
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}
div.logo{
    width: 227px;
    height: 70px;
    font-size: 50px;
    color: white;
    float: left;
    z-index: 1;
    position: relative;
}
div.menu{
    float: right;
}
nav.desktop ul{
    font-size: 19px;
}

nav.desktop ul li{
    display: inline-block;
    padding-right: 28px;
}
nav.desktop ul li a{
    text-decoration: none;
    color:white;

}
nav.desktop li.btn-nav{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 4px 10px;
}
nav.mobile{
    display: none;
   
}
nav.mobile h3{
    position: absolute;
    color: white;
    font-size: 33px;
    cursor: pointer;
   top: 20px;
   right: 30px;
   z-index: 1;
}
nav.mobile ul{
    display: none;
    padding: 60px 0 30px 0;
    background-color: slategrey;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    list-style-type: none;
    text-align: center;
    font-size: 19px;
    
}
nav.mobile ul li{
    padding-top: 10px;
    padding-bottom: 12px;
}
nav.mobile ul li a{
    color: white;
    font-size: 19px;
    text-decoration: none;
}
nav.mobile li.btn-nav{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 4px 10px;
}

div.header-chamada{
    max-width: 460px;
    padding-top: 170px;
    color: white;
}
div.header-chamada h2{
    padding-top: 10px;
    font-size: 37px;
    font-weight: normal;
}
div.header-chamada p{
    font-size: 19px;
    font-weight: normal;
    padding-top: 10px;
}
div.header-chamada form{
    padding-top: 15px;
}
div.header-chamada input[type=email]{
    width: 250px;
    height: 40px;
    font-size: 15px;
    border: 0;
    border-radius: 20px;
    padding-left: 10px;
}
div.header-chamada input[type=submit]{
    border: 0;
    font-size: 15px;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    background-color: orange;
    color: white;
    cursor: pointer;
}
div.header-chamada input:focus{
    outline: none;
}
section.chamada{
    padding-top: 30px;
}
section.chamada > .container{
    max-width: 870px;
}
div.titulo-chamada p{
    text-align: center;
    font-size: 22px;
    font-weight: lighter;
    font-style: italic;
}
section.chamada-container{
    padding: 30px 0;
   
}
section.chamada-container > .container{
    max-width: 960px;
}
div.trabalhos{
    width: 50%;
    float: left;
}
div.trabalhos h2{
    font-weight: bolder;
    padding-bottom: 12px;
    
}
div.trabalhos p{
    font-size: 17px;
    font-style: normal;
    font-weight: lighter;
}
div.image-trabalho img{
    float: right;
    width: 50%;
    min-width: 300px;
}
section.depoimento-imagem{
    padding: 30px 0;
   
}
section.depoimento-imagem > .container{
    background-image: url('../imagem/bg2.jpg');
    background-position: center;
    background-size: cover;
    min-height: 400px;
    width: 85%;
    padding: 0 2%;
}
div.depoimento {
   
    float: right;
    position: relative;
    background-color: white;
    color: rgb(0, 0, 0);
    width: 490px;
    min-height: 180px;
    top: 230px;
    box-shadow: 5px 5px 3px rgb(145, 145, 145);
}
div.depoimento p{
    text-align: left;
    padding: 10px 12px;
    color: rgb(23, 126, 129);
}
section.depoimentos-trabalhos{
    padding: 30px 0;
}

section.depoimento-trabalhos > .container{
    max-width: 1100px;
}
div.texto-trabalhos{
    text-align: center;
}
div.texto-trabalhos h3{
    color: rgb(23, 126, 129);
    font-size: 25px;
    font-weight: normal;
}
div.texto-trabalhos i{
    font-size: 30px;
    padding-top: 8px;
}
div.depoimentos-imagem{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
div.texto-depoimentos{
    border: 10px solid white;
    width: 33.3%;
    padding: 10px 15px; 
}
div.wraper{
    padding-bottom: 15px;
    box-shadow: 4px 3px 5px #ccc;
}
div.imagem-texto img{
    width: 100%;
}
div.trabalhos-imagem{
    padding: 0 15px;
}
div.trabalhos-imagem h3{
    color: rgb(8, 48, 49);
    font-size: 22px;
    padding: 12px 10px;
}
div.trabalhos-imagem p{
    padding: 5px 10px;
    color: rgb(26, 126, 126);
    font-size: 17px;
    font-weight: normal;
    font-style: italic;
}
div.trabalhos-imagem a{
    margin-top: 7px;
    text-align: center;
    text-decoration: none;
    border-radius: 22px;
    border: 2px solid #ccc;
    width: 130px;
    height: 45px;
    display: inline-block;
    padding: 9px 10px;
    color: rgb(26, 126, 126);
    font-size: 19px;
}
section.empresas{
    padding: 30px 0;
}
section.empresas > .container{
    max-width: 960px;
}
section.empresas h2{
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 15px;
    color: rgb(26, 126, 126);
}
div.box-empresas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    
}
div.empresas-single{
    width: 25%;
    padding: 0 10px;
}
div.empresas-single img{
    width: 100%;
    border: 2px solid #ccc;
    padding: 5px 5px;
}
section.formulario{
    padding: 30px 0;
}
section.formulario > .container{
    max-width: 960px;
    margin: 0 auto;
}
section.formulario h2{
    text-align: center;
    font-size: 27px;
    font-weight: lighter;
    margin-bottom: 12px;
}
section.formulario form{
    width: 100%;
    text-align: center;
}
section.formulario input[type=text]{
    width: 90%;
    height: 38px;
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 17px;
    border: 1px solid #cccccccc;
}
section.formulario input:focus{
    outline: 0;
}
section.formulario textarea{
    width: 90%;
    height: 90px;
    padding: 5px 7px;
    font-size: 17px;
    resize: vertical;
    border: 1px solid #cccccccc;
    border-radius: 12px;
    
}
section.formulario textarea:focus{
    outline: 0;
}
section.formulario input[type=submit]{
    width: 120px;
    height: 40px;
    background-color: coral;
    color: white;
    font-size: 18px;
    border-radius: 15px;
    margin-top: 10px;
    border: 0;
    cursor: pointer;
}
footer{
    padding: 30px 0;
    background-color: rgb(100, 105, 105);
}
footer > .container{
    max-width: 960px;
}
div.noticias{
    width: 100%; 
    padding: 15px 0; 
    color: white;
}
div.endereco{
    width: 33.3%;
    float: left;
}
div.endereco h2{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}
div.endereco p{
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: normal;
}
div.contato-telefone{
    width: 33.3%;
    float: left;
}
div.contato-telefone h2{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}
div.contato-telefone p{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 7px;
}
div.news{
    width: 33.3%;
    float: right;
}
div.news h2{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}
div.news input[type=text]{
 width: 200px;
 height: 30px;
 border: 1px solid white;
 color: black;
border-radius: 15px;
padding: 5px 10px;
}
div.news input:focus{
    outline: 0;
}
div.news button{
    width: 38px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 12px;
    border: 0;
    background-color: white;
}
div.news button:focus{
    outline: 0;
}

@media screen and (max-width:1024px){
    nav.desktop{
        display: none;
    }
    nav.mobile{
        display: block;
    }
    nav.mobile input{
        margin-bottom: 10px;
    }
    
}
@media screen and (max-width: 768px){
    div.header-chamada form{
        padding-top: 15px;
    }
    div.header-chamada input[type=email]{
        width: 350px;
        margin-bottom: 15px;
    }
    div.trabalhos{
        float: none;
        width: 100%;
        text-align: center;
    }
    div.image-trabalho img{
        padding-top: 30px;
        float: none;
        width: 100%;
        margin: 0 auto;
    }
    div.depoimento {
        margin: 0 auto;
        text-align: center;
        width: 90%;
        padding: 10px 2%;
        float: none;
        top: 110px;
      
    }
    div.depoimento p{
        padding: 12px 0;
    }
    div.texto-depoimentos{
        width: 90%;
        margin: 0 auto;
    }
    div.empresas-single{
        width: 60%;
        margin: 10px auto;
        
    }
    div.endereco{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    div.contato-telefone{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    div.news{
        width: 100%;
        text-align: center;
        
    }
    div.news button{
        margin-top: 10px;
        width: 58px;   
    }
}